<!-- <div *ngFor="let product of products|async">
    <img src="{{product.imgurl}}" alt="hpo laptop mage"><br>
    {{product.name}}<br>
    {{product.price}}

</div> -->
<!-- 
<div class="row">
    <div class="col-12">
        <div *ngFor="let product of products|async">
            <img src="{{product.imgurl}}" alt="hpo laptop mage"><br>
            {{product.name}}<br>
            {{product.price}}
        
        </div>

    </div>

</div> -->

<mat-card class="example-card" *ngFor="let product of products|async">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
      <img mat-card-image src="{{product.imgurl}}" alt="Photo hp laptop"><br></div>
      <mat-card-title> {{product.name}}</mat-card-title>
      <mat-card-subtitle>Hp Lapto</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{product.imgurl}}" alt="Photo hp laptop">
    <mat-card-content>
      <p>
        {{product.name}} :  {{product.price}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>


  